@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --FirstFont: "Poppins", sans-serif;
    --SecondFont: "Inter", sans-serif;
    --MainColor: #545BE8;
}

body {
    font-family: var(--FirstFont);
    
}



a {
    text-decoration: none;
}

ul {
    list-style: none;
    gap: 16px;
}

.header .container {
    width: calc(100% - 120px);
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.header {

    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    background-color: #fff;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.header .logo img {
    width: 20px;
}

.header .logo a {
    color: var(--MainColor);
}

.header .nav a {
    color: black
}

.nav ul {
    display: flex;
}

.header .login a {
    font-family: var(--SecondFont);
    padding: 10px 30px;
    border-radius: 10px;
}


.header .login a:first-of-type {
    border: 1px solid var(--MainColor);
    color: var(--FirstFont);
}

.header .login a:last-of-type {

    background-color: var(--MainColor);
    color: #fff;
}

.bars-menu{
    display: none;
}


@media(max-width:990px) {
    .nav {
        display: none;
    }

    .bars-menu{
        display: inline-block;
         
    }

    .login{
        display: none;
    }

    
}

@media(max-width:400px){
    
    .logo a{
        display: none;
    }
}


/*end header*/




/*start Introduction*/

.introduction .container {
    width: calc(100% - 120px);
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 50px;
    padding-top: 30px;
}

.introduction .container .title h4{
    color: #545BE8;
    font-weight: 500;
    font-size: 18px;
}
.introduction .container .title h4 span{
    font-weight: bolder;
}

.introduction .container .title h1{
    font-size: 60px;
    color: #141E32;
}
.introduction .container .title h1 span{
    color: #545BE8;
}
.introduction_bottom .photo{
    padding-right: 50px;
    z-index: 1;
}
.introduction_bottom .photo img {
    width:520px;
    height: 520px;
}

.introduction .feature-section{
    background-color: #F5F5F5;
    width: calc(100% - 120px);
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 50px;
    padding-top: 200px;

}

.introduction .upper-part{
    background-color: #F5F5F5;
    width: calc(100% - 120px);
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    padding-top: 20px;
    margin-left: 60px;
    
}

.introduction .upper-part .paragraph{
    color: #969696;
}

.introduction .upper-part .login{
    padding-top: 40px;
    padding-left: 10px;
}

.introduction .upper-part .login a {
    font-family: var(--SecondFont);
    padding: 10px 30px;
    border-radius: 10px;
}


.introduction .upper-part .login a:first-of-type {
    
    background-color: var(--MainColor);
    color: #fff;
    font-weight: bolder;
}

.introduction .upper-part .login a:last-of-type {
    
    color: var(--FirstFont);
    
}

.introduction .upper-part .login svg {
    
    width: 30px;
    height: 30px;
    padding-top: 10px;
    
}

.introduction .feature-section .features_text{
   padding-left: 30px;
   padding-bottom: 100px;
}



.introduction .feature-section .features_text h4{
    color: #545BE8;
    font-weight: 400;
}

.introduction .feature-section .features_text h2{
    color: #141E32;
    font-size: 40px;
}
.introduction .feature-section .features_text p{
    color: #969696;
    
}

.introduction .feature-section .feature-card{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: var(--MainColor);
    color: #fff;

}

.introduction .feature-section .feature-card svg{
    margin-top: 20px;
    width: 40px;
    height: 40px;

}


.introduction .feature-section .feature-card h3{

    padding-top: 10px;
    padding-bottom: 30px;
    font-weight: 500;


}

.introduction .feature-section .feature-card p{

   
    padding-bottom: 30px;
    font-weight: 500;
    color: #DDD;
    font-size: 14px;


}

/* Responsive adjustments */
@media (max-width: 768px) {
    .feature-section {
        flex-direction: column;
        align-items: center;
    }

    .feature-card {
        width: 100%; /* Full width for smaller screens */
        margin-bottom: 20px;
    }

    .introduction_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .introduction_bottom .photo img {
        width:300px;
        height: 300px;
    }

    
}

@media (max-width: 650px ){
    .introduction_bottom .photo img {
        width:100px;
        height: 100px;
    }

}



/*end Introduction*/

/*start Selected Courses*/

.Sel_Course{

    background-image: linear-gradient(180deg, #545BE8, #272DB0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    

}

.Sel_Course .container .Sel_Course_Image{
    padding-left: 150px;
}
.Sel_Course .container .Sel_Course_Image img{
    margin: 100px;
    width: 530px;
    height: 538px;
    
    
}


.Sel_Course .container {
    width: calc(100% - 120px);
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 50px;

}

.Sel_Course .container .Sel_Course_Texts{
    padding-left: 20px
}

.Sel_Course .container .Sel_Course_Texts h2{
color:#F0C932;
padding-bottom: 20px;
font-size: 20px;
}

.Sel_Course .container .Sel_Course_Texts h1{
    color:#FFF;
    padding-bottom: 20px;
    font-size: 40px;
    }



.Sel_Course .container .Sel_Course_Texts .paragraph p{
    color: #DDD;
}

.Sel_Course .container .Sel_Course_Texts .stats {
    display: flex;
    margin-top: 20px;
}

.Sel_Course .container .Sel_Course_Texts .stat {
    margin-right: 20px;
    
}

.Sel_Course .container .Sel_Course_Texts .stat h4 {
    margin: 0;
    font-size: 24px;
    color: #F0C932;
}

.Sel_Course .container .Sel_Course_Texts .stat p {
    margin: 0;
    font-size: 16px;
    color:#DDD
}





@media (max-width: 1136px) {
    .Sel_Course .container {
        flex-direction: column;
        text-align: center;
    }

    .Sel_Course .container .Sel_Course_Texts  {
        padding: 20px 0;
    }

    .Sel_Course .container .Sel_Course_Texts .stats {
        justify-content: center;
    }
}

@media (max-width: 882px) {
    .Sel_Course .container .Sel_Course_Image img{
        width: 300px;
        height: 330px;
    }
}


/*end selected courses*/







/*start Courses*/
.courses .container {
    width: calc(100% - 120px);
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    

}

.courses .container .course-items .course-card{
    margin-right: 40px;
    box-shadow: 0px 14.237px 8.237px rgba(0,0,0,0.4);
    border-radius: 5px;
    margin-bottom: 40px;
}


.courses .container .course-items .course-card h2{
padding-left: 10px;
}

.courses .container .course-items .course-card .course-stat .span-text {
    padding-left: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between
    }

    .courses .container .course-items .course-card .course-stat .span-text span {
        color: #969696;
    }



.courses .container .course-items .course-card .best-course {
    padding-left: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between
    }

    .courses .container .course-items .course-card .best-course span{
        font-weight: bolder;
        color: #545BE8;
        }



.courses .container .course-items{
    display: flex;
    padding-top: 100px;
    padding-left: 150px;
}

.courses .container .course-items img{
    width:385px;
    height: 300px;
}


.courses .container .course-description{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.courses .container .course-description h2{
    color: #141E32;
    font-size: 30px;
    padding-top: 20px;

    
}

.courses .container .course-description span{
    color: #545BE8;
    font-weight: 400;
    
}

.courses .container .course-description p{
    color: #969696;
    padding-top: 20px;
    
}




.courses .container .course-description a {
    
    padding: 10px 30px;
    border-radius: 10px;
}


.courses .container .course-description a {
    
    background-color: var(--MainColor);
    color: #fff;
    font-weight: bolder;
    width: 150px;
    text-align: center;
    margin-top: 20px;
}


@media (max-width:1300px ){
    .courses .container{
        display: inline-block;
    }


}
/*end courses*/

/*start tetimonials*/


.testimonials{
text-align: center;
padding: 40px 0;

}

.testimonials .container {
    width: calc(100% - 120px);
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 50px;

}

.testimonials h2{
    margin-bottom: 40px;
}

.testimonial .user-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.testimonials .container .row{
    gap: 40px;
}

.testimonial{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: calc(( 100% - 40px )/2);
    align-items: flex-start;
    box-shadow: 0px 14.237px 8.237px rgba(0,0,0,0.2);
    padding: 20px;
    position: relative;
}

.testimonial ::after{
    content: '';
    border-top: 30px solid #a3a3a3;
    
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.testimonial .user-info{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.testimonial .user-info .user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}


.testimonial .user-info .user-data span{
font-size: 12px;
color: #969696;

}

.testimonial .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    
}


.testimonial q {
    color: #646464;
}


@media (max-width:700px) {
    .testimonials .container .testimonial {
        width: 100% 
    }
}


/* start footer*/
.footer {
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}
.footer .container {
    width: calc(100% - 120px);
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 50px;

}
.footer a {
    color: #fff;
}


.footer .footer-start {
    width: calc((100% - 40px)/2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

.footer .container .footer-start .logo img {
    width: 35px;
}

.footer .container .footer-start .logo a {
    font-size: 14px;
}

.footer .container .footer-start p {
    color: #f4f4f4;
    font-weight: 200;
}

.footer .container .footer-start .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;


}

.footer .container .footer-start .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
.footer .container .footer-start .icons img {
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    padding: 10px;
    box-sizing: content-box;

}



.footer .footer-end {
    width: calc((100% - 40px)/2);
    display: flex;
    justify-content:space-evenly ;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer .footer-end .footer-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.footer .footer-end .footer-item ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 7px;
}

